<h1 id='header'>High Schools</h1>

<hr />

<% if @highschools.any? %>
  <% @highschools.each do |highschool| %>
		<ul class="highschool-title">
			<li>
			 	<%= link_to highschool.name, highschool_path(highschool), class: "highschool-link" %>
			</li>
		</ul>   
  <% end %>
<% else %>
  <h3 id='no-schools-header'>No Schools, Summer!</h3>
<% end %>

<hr>

<%= link_to 'New School', new_highschool_path, id: 'new-highschool-btn', class: 'btn' %>